!!!
%html
	%head
		%title Fizzy Buzzy
	%body{:style => "width: 50%; margin: auto; text-align: center;"}
		%h1 Fizzy Buzzy
		%p 
			Your number ---->
			%strong #{locals[:fzbz]}
		%p
			%a{href: '/'} Go Back