!!!
%html
	%head
		%link{:href =>  "./styles.css", :rel => "stylesheet", :type => "text/css"}/
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
		%script{:src => "./script.js"}
		%title Fizzy Buzzy
	%body
		%h1 Fizzy Buzzy
		%p 
			Your number.....
			#buzzing
			:javascript
				var fizzbuzz_array = #{locals[:fzbz]};
		%p
			%a{href: '/'} Go Back