!!!
%html
	%head
		%link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}/
		%title Fizzy Buzzy
	%body
		%h1 Fizzy Buzzy
		%p Enter a number to count up to and see which number fizz and which buzz.
		
		%form{ :action => "/fizzbuzz", :method => "post"}
			%label{:for => "number"} number:
			%input{:type => "number", :name => "number", :max => "100", :min => "1"}
			%input{:type => "submit", :value => "Set", :class => "button"}